<div class="page-header">
  <h1>
    {{ page.title }} 
    {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}
  </div>
</div>
<script type="text/javascript">
  gotoTop(-1);

  function gotoTop(width)
  {
    document.write('<a id="goto-top">^</a>');
    var gotop = document.querySelector('#goto-top');
    gotop.style.visibility='hidden';
    gotop.style.cursor='pointer';
    gotop.style.position = 'fixed';
    gotop.style.fontSize='2.5em';
    gotop.style.fontWeight='900';
    gotop.style.textAlign='center';
    gotop.style.background = 'gray';
    gotop.style.borderRadius = '0.2em';
    gotop.style.width='1.4em';
    gotop.style.height='1em';
    gotop.style.top = (document.documentElement.clientHeight / 2) + 100 + 'px';
    gotop.style.opacity='0.3';
    gotop.style.visibility = (document.body.scrollTop + document.documentElement.scrollTop > 10) ? 'visible' : 'hidden';
    if(0 == width)
    { gotop.style.left = '0em';  }
    else if(-1 == width)
    { gotop.style.right = '0em';  }
    else
    {
    var resize = function()
    {
    var left = (document.documentElement.clientWidth - width) / 2 + width + 10;
    if((left - gotop.clientWidth) < width)
    {
    gotop.style.right='0em';
    gotop.style.left = null; 
    }
    else
    {
    gotop.style.left = left + 'px';
    gotop.style.right = null;
    }
    };
    resize();
    window.addEventListener('resize', function()
    {
    resize();
    }, false);
   
    }
    gotop.addEventListener('mouseover', function()
    {
    this.style.opacity='0.8';
    this.style.textDecoration='none';
    }, false);
    gotop.addEventListener('mouseout', function()
    {
    this.style.opacity='0.3';
    }, false);
    gotop.addEventListener('click', function()
    {
  
    var h = document.body.scrollTop + document.documentElement.scrollTop;
    var t = window.setInterval(function()
    {
    window.scrollTo(0,h -= 100);
    if(h <= 0)
    { window.clearInterval(t);  }
    }, 5);
    }, false);
    window.addEventListener('scroll', function()
    {
    var scrollTop = document.body.scrollTop + document.documentElement.scrollTop;
    gotop.style.visibility = scrollTop > 10 ? 'visible':'hidden';
    }, false);
  };
</script>